<!DOCTYPE html>
<html>

<head>
  <title>Todo 範例製作</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="images/favicon.ico" rel="shortcut icon" />
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/stylesheets/all.css" />
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
    integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/regular.js"
    integrity="sha384-t7yHmUlwFrLxHXNLstawVRBMeSLcXTbQ5hsd0ifzwGtN7ZF7RZ8ppM7Ldinuoiif"
    crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
    integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
    crossorigin="anonymous"></script>
  <script src="/javascripts/vendor.js"></script>
</head>

<body class="bg-lighter">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Vue.js 練習手冊</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/basic/dev.html">基礎教學</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/template/basic.html">模板指令</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/components/basic.html">組件</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/vue_set.html">常用 API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/es6/let_const.html">ES6</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-3">
        <div>
          <h6 class="text-capitalize text-muted">basic</h6>

          <a href="/basic/dev.html" class="btn btn-block btn-link">
            Vue 的開發環境
          </a>

          <a href="/basic/instant.html" class="btn btn-block btn-link">
            建立 Vue 的應用程式
          </a>

          <a href="/basic/mvvm.html" class="btn btn-block btn-link">
            MVVM 是什麼樣的概念
          </a>

          <a href="/basic/directive.html" class="btn btn-block btn-link">
            指令
          </a>

          <a href="/basic/if_for.html" class="btn btn-block btn-link">
            模板語法的延伸 v-if 及 v-for
          </a>

          <a href="/basic/v_on.html" class="btn btn-block btn-link">
            處理互動式行為 v-on 指令
          </a>

          <a href="/basic/defined_var.html" class="btn btn-block btn-link">
            預先定義資料結構
          </a>

          <a href="/basic/modifiers.html" class="btn btn-block btn-link">
            修飾符 與 縮寫
          </a>

          <a href="/basic/v_class.html" class="btn btn-block btn-link">
            切換 Class
          </a>

          <a href="/basic/computed.html" class="btn btn-block btn-link">
            計算屬性
          </a>

          <a href="/basic/form.html" class="btn btn-block btn-link">
            表單雙向綁定
          </a>

          <a href="/basic/components.html" class="btn btn-block btn-link">
            元件化
          </a>

          <a href="/basic/todo.html" class="btn btn-block btn-primary active">
            Todo 範例練習
          </a>

          <a href="/basic/v_lifecycle.html" class="btn btn-block btn-link">
            延伸介紹 - Vue 生命週期
          </a>
        </div>
      </div>

      <div class="col-md-9 post">
        <!-- 練習開始 -->
        <h1 class="mt-0 text-muted">Todo 範例製作</h1>

        <div class="alert alert-secondary">
          <ol class="mb-0">
            <li>請跟隨課程完成此章節。</li>
          </ol>
        </div>

        <div id="app">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">待辦事項</span>
            </div>
            <input type="text" class="form-control" placeholder="準備要做的任務" v-model="inputText" @keyup.enter="addTodo" />
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" @click="addTodo">新增</button>
            </div>
          </div>
          <div class="card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a class="nav-link" :class="{'active': visible == 'all'}" @click="visible = 'all'" href="#">全部</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" :class="{'active': visible == 'active'}" @click="visible = 'active'" href="#">進行中</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" :class="{'active': visible == 'checked'}" @click="visible = 'checked'" href="#">已完成</a>
                </li>
              </ul>
            </div>
            <ul class="list-group list-group-flush text-left">
              <li class="list-group-item" v-for="(item, index) in filterTodos" :key="item.key" @dblclick="editTodo(item)">
                <div class="d-flex" v-if="item.id != cacheTodo.id">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" v-model="item.isChecked" :id="item.id" />
                    <label class="form-check-label" :class="{ 'completed': item.isChecked}" :for="item.id">
                      {{ item.title }}
                    </label>
                  </div>
                  <button type="button" class="close ml-auto" aria-label="Close" @click="deleteTodo(item)">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!-- 點擊後修改，當此 item.id 跟被點擊到且存入 cacheTodo.id 一樣時，才會顯示 -->
                <input type="text" class="form-control" 
                  v-if="item.id === cacheTodo.id" 
                  v-model="cacheTitle"
                  @keyup.esc="cancelEdit()"
                  @keyup.enter="doneEdit(item)"/>
              </li>
              <!-- <li class="list-group-item">
                <input type="text" class="form-control" />
              </li> -->
            </ul>
            <div class="card-footer d-flex justify-content-between">
              <span>還有 {{ activeNum }} 筆任務未完成</span>
              <a href="#" @click="clearTodos">清除所有任務</a>
            </div>
          </div>
        </div>

        <script>
          var app = new Vue({
            el: "#app",
            data: {
              inputText: '',
              todosArray: [
                {
                  id: '',
                  title: '我是測試',
                  isChecked: false,
                }
                
              ],
              visible: 'all', //預設為'全部'
              cacheTodo:{},
              cacheTitle:'',
            },
            methods: {
              addTodo() {
                let todolist = this.inputText.trim(); //trim 可刪除多於空白
                let timeId = Math.floor(Date.now());
                if(!todolist){
                  return //input 沒有內容就不新增
                }
                this.todosArray.push({
                  id: timeId,
                  title: todolist,
                  isChecked: false,
                })
                this.inputText = '';
              },
              // 原本使用 index 判別，會在切換 tab 造成陣列位置錯誤，刪錯項目
              // deleteTodo(index){
              //   this.todosArray.splice(index, 1)
              // },
              deleteTodo(item){
                // 方法一：indexOf 找尋比對陣列裡有符合的，並印出陣列位置
                // const index = this.todosArray.indexOf(item);
                // this.todosArray.splice(index, 1);

                //方法二：要刪除的物件要跟 todosArray 的 id 相符合
                let newIndex = '';
                this.todosArray.forEach(function(arrayItem, arrayIndex){
                  if(item.id === arrayItem.id){
                    newIndex = arrayIndex
                  }
                })
                this.todosArray.splice(newIndex, 1)

                //方法三：使用 findIndex 直接找元素索引位置
                // let newIndex = this.todosArray.findIndex((arrayItem, arrayIndex) =>{
                //   return item.id === arrayItem.id
                // })
                // this.todosArray.splice(newIndex, 1)
              },
              editTodo(item){
                this.cacheTodo = item, //將被點擊的 item 存入 cacheTodo
                this.cacheTitle = this.cacheTodo.title
              },
              cancelEdit(){
                this.cacheTodo = {}
              },
              doneEdit(item){
                item.title = this.cacheTitle;
                this.cacheTodo = {}; 
                //要有上面這清空動作(就會不等於cacheTodo)，才會有執行上一個程式碼的效果
                //下面那行也可，但只會存在 data 裡並不會顯示
                // this.cacheTitle =''; 
              },
              clearTodos(){
                return this.todosArray = []
              }
              
            },
            computed: {
              filterTodos(){
                if(this.visible == 'all'){
                  return this.todosArray
                }else if(this.visible == 'active'){
                  let newTodos = [];
                  this.todosArray.forEach(item => {
                    if (!item.isChecked) {
                      newTodos.push(item);
                    }
                  });
                  return newTodos;
                }else if(this.visible == 'checked'){
                  let newTodos = [];
                  this.todosArray.forEach(item =>{
                    if (item.isChecked) {
                      newTodos.push(item)
                    }
                  })
                  return newTodos
                }
                return []
              },
              activeNum(){
                // 方法一：直接計算陣列長度
                // let newTodos = [];
                // this.todosArray.forEach(item => {
                //   if (!item.isChecked) {
                //     newTodos.push(item);
                //   }
                // });
                // return newTodos.length

                //方法二：使用 count 計算
                let count = 0;
                this.todosArray.forEach(item =>{
                  if (!item.isChecked) {
                    count++;
                  }
                })
                return count
              }
            }
          });
        </script>

        <style>
          .completed {
            text-decoration: line-through;
          }
        </style>
      </div>
    </div>
  </div>
</body>

</html>